<table class="table table-bordered table-stripped">
  <tr>  
    <th class="label-c"></th>
    <th class="label-c">Number</th>
    <th class="label-c">Date Issued</th>
    <th class="label-c">Expiry Date</th>
    <th class="label-c">Issued By</th>
  </tr>
  <tr>
    <td class="label-d-a"></td>
    <td class="label-d-a">12345</td>
    <td class="label-d-a">April 1, 2014</td>
    <td class="label-d-a">April 27, 2014</td>
    <td class="label-d-a">Raphael Alampay</td>
  </tr>
</table>