<div class="well">
  <h4>Download Crew File</h4>
    <%= form_tag generate_crew_file_path(@crew.id), method: :get do |f| %>
      <div class="row">
        <div class="col-md-4">
        </div>
      </div>
    <% end %>
</div>
