<div class="row">
  <div class="col-md-4">
    <%= render partial: "crews/advanced_search_tool" %>
  </div>
  <div class="col-md-8">
    <%= render partial: "crews/advanced_search_list", locals: { crews: @crews } %>
  </div>
</div>
