<div class="row">
  <div class="col-md-6">
    <h1>Edit Crew Record 
    <%= link_to crew_path(@crew), class: "btn btn-default btn-xs" do %>
      <i class="glyphicon glyphicon-user"></i> Go to Profile
    <% end %>
    </h1>
  </div>
  <div class="col-md-6 add_links d">
    <%= button_tag class: "btn btn-primary btn-lg", id: "submitButton" do %>
      <i class="glyphicon glyphicon-ok"></i> Save Record
    <% end %>
  </div>
</div>
<%= render partial: "crews/form", locals: { crew: @crew } %>
<script>
$("#submitButton").click(function() {
  $(".simple_form").submit();
});
</script>
