<div class="row">
  <div class="col-md-3  new_member">
    <br>
    <%= link_to new_crew_path, class: "btn btn-primary btn-lg btn-block" do %>
      <span class="glyphicon glyphicon-user"></span> New Member
    <% end %>
  </div>
  <div class="col-md-9 search_tools abc">
    <%= render partial: "crews/search_tool" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 clists">
    <%= render partial: "crews/list", locals: { crews: @crews } %>
    <%= paginate @crews %>
  </div>
</div>
