<div class="row">
  <div class="col-md-12">
    <h1>Crew List</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render partial: "crews/list", locals: { crews: @crews } %>
  </div>
  <div class="col-md-4">
  </div>
</div>

