<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <b>New Crew Record</b>
      </div>
      <div class="col-md-6 add_links d">
        <%= button_tag class: "btn btn-primary btn-xs", id: "submitButton" do %>
          <i class="glyphicon glyphicon-ok"></i> Save Record
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= render partial: "crews/form", locals: { crew: @crew } %>
  </div>
</div>
<script>
$("#submitButton").click(function() {
  $(".simple_form").submit();
});
</script>
