<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Crew Count By Rank</b>
  </div>
  <div class="panel-body">
  <div class="infiniscroll pp">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Rank Name</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id="rankTable">
      </tbody>
    </table>
  </div>
</div>
</div>

<script>
$(document).ready(function() {
  var url = "<%= api_crew_count_by_rank_path %>";
  $.get(url, function(data) {
    $.each(data, function(i, d) {
      $("#rankTable").append('<tr><td>' + d.name + '</td><td>' + d.count + '</td></tr>');
    });
  });
});
</script>
