<div class="row">
  <div class="col-md-12">
    <h4>Crew Count By Vessel</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Vessel Name</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id="vesselTable">
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
  var url = "<%= api_crew_count_by_vessel_path %>";
  $.get(url, function(data) {
    $.each(data, function(i, d) {
      $("#vesselTable").append('<tr><td>' + d.name + '</td><td>' + d.count + '</td></tr>');
    });
  });
});
</script>
