<div class="for_non_mobile">
  
<div class="add_links">
  <%= link_to new_crew_path, class: "btn btn-default btn-xs" do %>
    <i class="glyphicon glyphicon-user"></i> New Crew Member
  <% end %>
  <%= link_to new_transmittal_record_path, class: "btn btn-default btn-xs" do %>
    <i class="glyphicon glyphicon-folder-close"></i> New Transmittal Record
  <% end %>
</div>

</div>

<div class="mobile">
  <div class="add_links">
  <%= link_to new_crew_path, class: "btn btn-default btn-xs" do %>
    <i class="glyphicon glyphicon-user"></i> New Crew Member
  <% end %>
  <%= link_to new_transmittal_record_path, class: "btn btn-default btn-xs" do %>
    <i class="glyphicon glyphicon-folder-close"></i> New Transmittal Record
  <% end %>
</div>

</div>
