<div class="for_non_mobile">
  <div class="row add_links">
    <div class="col-md-12">
    <%= link_to new_crew_path, class: "btn btn-default btn-xs" do %>
      <i class="glyphicon glyphicon-user"></i> New Crew Member
    <% end %>
    </div>
  </div>
</div>

<div class="for_mobile">
  <div class="add_links_mobile">
    <%= link_to new_crew_path, class: "btn btn-default btn-xs" do %>
      <i class="glyphicon glyphicon-user"></i> New Crew Member
    <% end %>
 </div>
</div>
