<h1>PRINCIPALS</h1>
<hr>
<table class="table table-bordered table-stripped">
	<tr>
		<th>Name</th>
		<th>Num Vessel</th>
		<th>Actions</th>
	</tr>
	<% @principals.each do |principal| %>
	<tr>
		<td><%= principal.name %></td>
		<td><%= principal.num_vessels %> </td>
		<td><%= link_to "Show", principal_path(principal.id), class: "btn btn-info btn-xs" %></td>
	</tr>
	<% end %> 

</table>
