<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="csc"> Copyright &copy;</span> <%= link_to "Cloudband Solutions Co.", "#" %> <%= Time.now.year %> - All Rights Reserved - <%= link_to "About this Software", "#"  %><br>
        <br>
        <%= image_tag "cbs.png", width: "250" %>
      </div>
    </div>
  </div>
</div>
