<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo-text">
          Personnel Information System
        </div>
      </div>  
    </div>
  </div>
</div>
