<% if params[:change_password] == "true" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <b>Change Password</b>
  </div>
<% else %>
<div class="panel panel-default">
  <div class="panel-heading">
    <b>Edit Profile</b>
  </div>
<% end %>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "form" %>
  </div>
</div>
</div>
</div>
