<% @vessels.each do |vessel| %>
  <%= render partial: "vessels/vessel", locals: { vessel: vessel } %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= paginate @vessels %>
  </div>
</div>
