<div class="row">
  <div class="col-md-12">
    <h1><%= @vessel %> <small>Vessel Information</small></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "vessels/details", locals: { vessel: @vessel } %>
  </div>
</div>
<ul>
<% @vessel.crews.each do |crew| %>
  <li><%= crew %></li>
<% end %>
</ul>
