<div class="row">

  <div class="col-md-9">
    <h3>About this Software</h3>
    <p>
      This software is a Personnel Information System that will allow you to manage your company's Personnel Information easily online. This software will keep track of onboard and inactive crew together with their personal documents, certificates and licenses.

      <h4>User Interface</h4>

      This software is especially designed for manning agencies. The developers ensure that the software is user-friendly so as not to be difficult to access the information.
      <br /> <br/>

      <h4>Functinality</h4>

      This software will let you do the following:
      <ul>
        <li>Allows you to <b>manage</b> personnel information, vessel information and principal information</li>
        <li> Allows you to <b>access</b> the list of information or an individual information </li>
        <li> Allows you to <b>update</b> information </li>
        <li> Allows you to <b>generate</b> information </li>
      </ul>
    </p>

    <p>
    This software is a product of <%= link_to "Cloudband Solutions, Co.", "http://cloudbandsolutions.com", target: "_blank:" %>.
    </p>
  </div>
</div>