<div class="row">
  <div class="col-md-4">
    <span class="label_title">DESTINATION:</span> 
  	<%= transmittal_record.destination %>
  </div>
  <div class="col-md-4">
    <span class="label_title">DATE OF DEPARTURE:</span> 
  	<%= transmittal_record.date_of_departure %>
  </div>
  <div class="col-md-4">
    <span class="label_title">ASSIGNED VESSEL:</span> 
  	<%= transmittal_record.vessel %>
  </div>
</div> <br />
<hr>