<%= f.simple_fields_for :transmittal_record_embarking_crews do |ff| %>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <%= ff.association :crew %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <%= f.link_to_add "Add Embarking Crew", :transmittal_record_embarking_crews, class: "btn btn-info" %>
  </div>
</div>
