<table class="table table-bordered" id="embarkingCrewsTable">
  <tr>
    <th>Crew</th>
    <th>Actions</th>
  </tr>
  <%= f.simple_fields_for :transmittal_record_embarking_crews, wrapper: false do |ff| %>
    <tr class="fields">
      <td><%= ff.association :crew, as: :select, collection: Crew.disembarked, input_html: { class: 'form-control select-select2' }, label: false %></td>
      <td><%= ff.link_to_remove "Remove Record", class: "btn btn-danger", data: { confirm: "Are you sure?" }, label: false %></td>
    </tr>
  <% end %>
</table>
<%= f.link_to_add "Add Embarking Crew", :transmittal_record_embarking_crews, class: "btn btn-info", data: { target: "#embarkingCrewsTable" } %>
