.row
  .col-md-12
    = f.association :license_types, input_html: { class: "select-select2 form-control" }, label: "Licenses to be included"
    = f.association :document_kinds, input_html: { class: "select-select2 form-control" }, label: "Documents to be included"
