<div class="row">
  <div class="col-md-4">
    <h4>Approved By</h4>
    <%= transmittal_record.approved_by %> <small><%= transmittal_record.approved_by_position %></small>
  </div>
  <div class="col-md-4">
    <h4>Prepared By</h4>
    <%= transmittal_record.prepared_by %> <small><%= transmittal_record.prepared_by_position %></small>
  </div>
</div>
