<div class="row">
  <div class="tlists">
    <%= render partial: "transmittal_records/list", locals: { transmittal_records: @transmittal_records } %>
    <%= paginate @transmittal_records %>
  </div>
</div>

