<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <b><%= @vessel %>: New Transmittal Record</b>
      </div>
      <div class="col-md-6">
        <div class="add_links" style="text-align: right;">
          <%= link_to transmittal_records_path, class: "btn btn-default btn-xs" do %>
            <i class="glyphicon glyphicon-folder-open"></i> Back to Database
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= render partial: "transmittal_records/form", locals: { transmittal_record: @transmittal_record } %>
  </div>  
</div>
