<div class="basicBoxHeader">
  <div class="row">
    <div class="col-md-6">
      <%= @vessel %>: New Transmittal Record
    </div>
    <div class="col-md-6">
      <div class="add_links" style="text-align: right;">
        <%= link_to transmittal_records_path, class: "btn btn-default btn-xs" do %>
          <i class="glyphicon glyphicon-folder-open"></i> Back to Database
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="basicBox">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "transmittal_records/form", locals: { transmittal_record: @transmittal_record } %>
    </div>
  </div>
</div>
