/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require navigation
 *= require shared
 *= require style
 *= require notifications
 *= require jquery-ui
 *= require select2
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

h1 {
}

.basicBox {
  border: 1px solid #e2e2e2;
  padding: 20px;
}

.add_links {
  text-align: right;
}

#main {
  margin-top: 40px;
  min-height: 410px;
}

.my_nav {
  li a {
    &.active {
      color: #fff;
      border-bottom: 5px solid #78AB46;
      padding-bottom: 10px;
    }
  }
}

span.status.pending {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.6em !important;
  background: grey;
}

span.status.approved {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.6em !important;
  background: #78AB46;
}

span.status.on-transit {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.6em !important;
  background: #5bc0de;
}

// SELECT2
.select2-container {
  padding: 0px;
  border-width: 0px;
}

.select2-container .select2-choice {
  height: 38px;
  line-height: 38px;
}


#footer {
  background: #e2e2e2;
  border-top: #2e2e2e;
  font-weight: bold;
  text-align: center;
}

th {
  font-weight: bold !important;
}

#login-box {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 1px solid #e2e2e2;
  padding: 20px;
  margin-top: 30px;
  background: #fff;
  #banner {
    padding: 20px;
    background: rgba(0,0,0,0.8);
    font-size: 0.9em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: 4px;
  }
}

.login-text {
  color: #fff;
}

#header {
  //border: black 1px solid;
  background-color: green;
  .logo-text {
    font-weight: bold;
    color: #fff;
    font-size: 2em;
  }
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}


// Bootstrap overrides
.container {
  width: 1336px;
  padding: 30px;
}
.well {
  border-radius: 0px;

}

.navbar {
  border-radius: 0px;
}
.form-control {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.datepicker {
  border-radius: 0px !important;
}

.tab-pane {
  padding: 20px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

th {
  background-color: #78AB46;
  color: white;
  text-align: center;
}


