@import "colors";

.crew {
  .profile-picture {
    display: inline-block;
  }

  .profile-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
    .name {
      font-size: 1.8em;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  small {
    color: $labelGrey;
  }
}
