@media screen and (max-width:320px){
	body{
		width:100%;
		max-width:100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	#login-box{
		width:90%;
		margin-bottom:20px;
	}
	.container{
		width:100%;
		padding:5px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	#main{
		margin-top:60px;
	}
	.add_links{
		text-align:right;
	}
	.well{
		width:100%;
	}
	#latest_crew .row .col-md-3, .latest_updated_crew .row .col-md-3{
		text-align:center;
	}
	.latest_updated_crew{
		margin-left:0;
	}
	#footer{
		text-align:center;
	}
	#footer img{
		margin-left:0;
	}
	#footer .csc{
		margin-left:0;
	}
	.crew_count tr, .crew_count thead, .crew_count table, .crew_count tbody, .transmittal_record_status table, .transmittal_record_status table tbody, .transmittal_record_status table tr{
		width:100%;
		max-width:100%;
		display:block;
		font-size: 12px;
	}
	.crew_count th, .transmittal_record_status th{
		display: block;
		text-align: left;
	}
	.crew_count table td, .container .transmittal_record_status table td{
		display: block;
		width: 100%;
		padding-left: 5px !important;
	}
	.transmittal_record_status .col-md-12{
		width:100%;
		padding:0;
	}
	.transmittal_record_status .row{
		margin:0;
		width:100%;
	}

	.transmittal_record_status table tr td:before, .crew_count table tr td:before{
		font-weight:bold;
		margin-right: 5px;
	}

	.transmittal_p_table tr td:nth-of-type(1):before{ content:"Vessel: "	; }
	.transmittal_p_table tr td:nth-of-type(2):before{ content:"Destination: "	; }
	.transmittal_p_table tr td:nth-of-type(3):before{ content:"Date of Departure: "	; }
	.transmittal_p_table tr td:nth-of-type(4):before{ content:"Number of Embarking Crews: "	; }
	.transmittal_p_table tr td:nth-of-type(5):before{ content:"Number of Disembarking Crews: "	; }
	.transmittal_p_table tr td:nth-of-type(6):before{ content:"Number of Promotions: "	; }
	.transmittal_p_table tr td:nth-of-type(7):before{ content:"Actions: "	; }

	.crew_count table tr td:nth-of-type(1):before{ content:"Vessel Name: "	; }
	.crew_count table tr td:nth-of-type(2):before{ content:"Count: "	; }

	.by_rank .col-md-12{
		margin-left: 0px;
		width: 100%;
	}

	img{
		max-width: 100%;
		height: auto;
	}
	.row{
		margin: 0px;
	}

	table, table tbody, table tr, table thead, table td, table th{
		display: block;
		width: 100% !important;
		max-width: 100%;
		text-align: left;
	}
	table tr td:before{
		font-weight: bold !important;
		margin-right: 5px;
	}
	table tr{
		border-bottom:3px solid #ddd;
	}

	.clists table tr td:nth-of-type(1):before{ content:"Name: "	; }
	.clists table tr td:nth-of-type(2):before{ content:"Number: "	; }
	.clists table tr td:nth-of-type(3):before{ content:"Vessel: "	; }
	.clists table tr td:nth-of-type(4):before{ content:"Rank: "	; }
	.clists table tr td:nth-of-type(5):before{ content:"Actions: "	; }

	.vessell table tr td:nth-of-type(1):before{ content:"Name: "	; }
	.vessell table tr td:nth-of-type(2):before{ content:"Flag: "	; }
	.vessell table tr td:nth-of-type(3):before{ content:"Vessel Type: "	; }
	.vessell table tr td:nth-of-type(4):before{ content:"Horse Power: "	; }
	.vessell table tr td:nth-of-type(5):before{ content:"Engine Make: "	; }
	.vessell table tr td:nth-of-type(6):before{ content:"Number of Crews: "	; }
	.vessell table tr td:nth-of-type(7):before{ content:"Actions: "	; }

	.tlists table tr td:nth-of-type(1):before{ content:"Date of Departure: "	; }
	.tlists table tr td:nth-of-type(2):before{ content:"Vessel: "	; }
	.tlists table tr td:nth-of-type(3):before{ content:"Destination: "	; }
	.tlists table tr td:nth-of-type(4):before{ content:"Embarking Crews: "	; }
	.tlists table tr td:nth-of-type(5):before{ content:"Disembarking Crews: "	; }
	.tlists table tr td:nth-of-type(6):before{ content:"umber of Promotions: "	; }
	.tlists table tr td:nth-of-type(7):before{ content:"Status: "	; }
	.tlists table tr td:nth-of-type(8):before{ content:"Actions: "	; }

}
