table {
  font-size: 15px;
  width: 100%;
}

.td {
  text-align: center;
}

.underline {
  width: 100%;
  border-bottom: 1px solid black;
}

.PrincipalSalary {
  margin-left: 30%;
  margin-top: -3%;
}

.GrtNrt {
  margin-left: 60%;
  margin-top: -3%;
}

.DwtLoa {
  margin-left: 80%;
  margin-top: -3%;
}


.lcc {
  border: 1px solid black;
  width: 50%;
  margin-left: 50%;
  margin-top: -5.5%;
  text-align: center;
}

.table_report {
  table{
    table-layout: fixed;
  }
  table, .table, table td {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
  }

  th {
    border-collapse: collapse;
    border: 1px solid #000;

  }

  table td.first{
      text-align: left !important;
      width: 70px !important;
   }
}


.table_report td, .table-report th{
  border: 1px solid black;
  padding: 0px 5px;
  font-size: 13px;
}

