@media only screen and (min-device-width : 1300px){
  .for_mobile {
    display: none;
  }

  .for_non_mobile {
    display: block;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width: 1299px) {
  .container {
    max-width: 100%;
  }
  .for_mobile {
    display: block;
  }

  .for_non_mobile {
    display: none;
  }
  .for_mobile table{
    margin-bottom: 15px;
    table-layout: fixed;
  }
  .for_mobile table th{
    width: 40%;
    text-align: left;
  }

  .for_mobile .label-e{
    width: auto;
  }

  #latest_crew_mobile {
    width: 87vw;
    margin-left: 0;
  }

  .add_links_mobile {
    text-align: left;
  }

  .transmittal_p_table_mobile {
    width: 87vw;
  }
  .transmittal_p_table_mobile th{
    text-align: left;
    width: 50%;
  }
  .fixing_mobile {
    margin-left: 1px;
    padding: 10px;
    width: 100%;
    background-color: #3498db;
    color: white;
    margin-bottom: 1%;
  }

  .signature img {
    width: 80vw;
  }
  .trans_mobile {
    float: left;
  }

  .for_mobile_css {
    width: auto;
  }
}


@media only screen and (min-device-width : 760px) and (max-device-width: 1160px) {
  .navs {
    font-size: 11px;
  }
  }

@media only screen and (min-device-width : 768px) and (max-device-width: 1014px) {
  .navs {
    display: none;
  }

  .drop_nav {
    display: blocked;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
.form-group {
  .date {
    margin-left: 10px;
    width: 30vw;
    display: block;

  }

  label.required {
    display: block;
  }
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  ul.tabs {  
  height: 80px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
  }

  ul.tabs1 {  
    height: 80px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    padding: 0;
  }

  ul.tabs li {
    float: left;
    width: 12.44vw;
    border-radius: 0; 
  }

  ul.tabs1 li {
    float: left;
    width: 40vw;
    border-radius: 0; 
  }

  ul.tabs2 li {
    float: left;
    width: 40vw;
    border-radius: 0; 
  }

  ul.tabs li a {
    position: relative;
    display: block;
    height: 30px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 1px solid white;
    font-size: 10px;
  }

  ul.tabs1 li a {
    position: relative;
    display: block;
    height: 50px;
    margin-top: 40px;
    padding: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 1px solid white;
    border-radius: 0;
  }


.tabs li:first-child a {
  z-index: 3;
}
.tabs1 li:first-child a {
  z-index: 3;
}

.tabs li:nth-child(2) a { z-index: 2; }
.tabs1 li:nth-child(2) a { z-index: 2; }
.tabs li:last-child a {
  z-index: 1;
}
.tabs1 li:last-child a {
  z-index: 1;
}

ul.tabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}
ul.tabs1 li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tabs li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #428bca;
  color: white;
  z-index: 4;
  outline: none;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}


ul.tabs1 li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #428bca;
  color: white;
  z-index: 4;
  outline: none;
}
.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.group:after { clear: both; }

#panels {
  width: 100%;
  background: white;
  height: auto;
  margin-bottom: 1%;
  padding: 10px;
  margin-top: -10px;
  color: #5a5955;

}
#panel1 {
  width: 100%;
  background: white;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  margin-bottom: 1%;
  padding: 10px;
  color: #5a5955;
}


#one { }
#one1 { }

#two { 
  display: none; 
}
#two1 { 
  display: none; 
}

#three { display: none; }
#four { display: none; }
#five { display: none; }
#six { display: none; }
#seven { display: none; }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

 ul.tabs {  
  height: 80px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
  }

  ul.tabs1 {  
    height: 80px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    padding: 0;
  }

  ul.tabs li {
    float: left;
    width: 10vw;
    border-radius: 0; 
  }

  ul.tabs1 li {
    float: left;
    width: 30vw;
    border-radius: 0; 
  }

  ul.tabs2 li {
    float: left;
    width: 30vw;
    border-radius: 0; 
  }
  ul.tabs li a {
    position: relative;
    display: block;
    height: 30px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 1px solid white;
    font-size: 9px;
  }

  ul.tabs1 li a {
    position: relative;
    display: block;
    height: 50px;
    margin-top: 40px;
    padding: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border: 1px solid white;
    border-radius: 0;
  }


.tabs li:first-child a {
  z-index: 3;
}
.tabs1 li:first-child a {
  z-index: 3;
}

.tabs li:nth-child(2) a { z-index: 2; }
.tabs1 li:nth-child(2) a { z-index: 2; }
.tabs li:last-child a {
  z-index: 1;
}
.tabs1 li:last-child a {
  z-index: 1;
}

ul.tabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}
ul.tabs1 li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tabs li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #428bca;
  color: white;
  z-index: 4;
  outline: none;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}


ul.tabs1 li a.active {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #428bca;
  color: white;
  z-index: 4;
  outline: none;
}
.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.group:after { clear: both; }

#panels {
  width: 100%;
  background: white;
  height: auto;
  margin-bottom: 1%;
  padding: 10px;
  margin-top: -10px;
  color: #5a5955;

}
#panel1 {
  width: 100%;
  background: white;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  margin-bottom: 1%;
  padding: 10px;
  color: #5a5955;
}


#one { }
#one1 { }

#two { 
  display: none; 
}
#two1 { 
  display: none; 
}

#three { display: none; }
#four { display: none; }
#five { display: none; }
#six { display: none; }
#seven { display: none; }

}