@media only screen and (min-device-width : 1300px){
  .for_mobile {
    display: none;
  }

  .for_non_mobile {
    display: block;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width: 1299px) {
  .container {
    max-width: 100%;
  }
  .for_mobile {
    display: block;
  }

  .for_non_mobile {
    display: none;
  }
  .for_mobile table{
    margin-bottom: 15px;
    table-layout: fixed;
  }
  .for_mobile table th{
    width: 40%;
    text-align: left;
  }

  .for_mobile .label-e{
    width: auto;
  }

  #latest_crew_mobile {
    width: 87vw;
    margin-left: 0;
  }

  .add_links_mobile {
    text-align: left;
  }

  .transmittal_p_table_mobile {
    width: 87vw;
  }
  .transmittal_p_table_mobile th{
    text-align: left;
    width: 50%;
  }
  .fixing_mobile {
    margin-left: 1px;
    padding: 10px;
    width: 100%;
    background-color: #3498db;
    color: white;
    margin-bottom: 1%;
  }

  .signature img {
    width: 80vw;
  }
  .trans_mobile {
    float: left;
  }

  .for_mobile_css {
    width: auto;
  }
}
