// Mediaqueries for 1280px
@media only screen 
and (min-device-width : 1200px) 
and (max-device-width : 1280px) {

//CREWS

  .clists {
    width: 96%; 
  }

 .col-md-3 {
    .btn {
      margin-left: 5%;
    }
  }

  .nav-justified .nav-tabs.nav-justified li {
    width: 96%;
  }


  .nav {
    font-size: 0.9em;
   .forw li {
    width: 96%; 
   }
  }

  .tab-content-inner {
    width: 96%;
    padding-right: 10px;
  }

 .d {
    margin-top: -4%;
    margin-left: 45.3%;
  }

.details_crew {
  .col-md-4 {
    margin-left: -26px;
    width: 23%;
    h2 {
    font-size: 1.5em;
     }

    h3 {
      font-size: 1.2em;
    }
    }
  }

  .info {
    .col-md-12 {
      width: 93.8%;
    }
  }

  .details_ {
    .col-md-12 {
    width: 96%;
  }
  }

  .details {
    width: 96%;
  }

  .nav-tabs {
  width: 95.3%!important;

  li a {
   padding: 10px;
  }
  }

  .search_tools {
    width: 70%;
  }




//VESSELS
  .search_vessel {
    width: 94%;
  }
  .vessel_table {
    width: 96%;
  }

 
  .tlists {
    width: 97%;
    margin-left: -10px;
  }

  .vshow {
    width: 96%;
  }

  .vessel_show {
       .nav-justified .nav-tabs.nav-justified li {
      width: 96%;
    }
  }

  .wells {
  width: 96%;
  .form-actions {
    margin-top: 10px;
  }
}

  .vessell {
    width: 98%;
  }

  .well {
    margin-left: 20px;
  }

// PRINCIPALS

  .principallist {
     width: 96%;
  }

  .search_principal {
    width: 93%; 
  }
//TRANSMITTAL RECORDS
  .search_trans {
    width: 70%;
  }

  .new_transmittal {
    .col-md-3 {
      width: 25%;
      margin-left: -10px;
    }
    .btn {
      width: 83%;
    }
  }

  .btns {
    .btn {
    font-size: 0.9em;
    margin-left: -2px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }
  }

  .trans {
    .col-md-9 {
      h1 {
    font-size: 1.9em;
  }
  }
   .col-md-3 {
    margin-top: -15px;
    }
  }

  .basicBox {
    width: 96%;
  }

}


// Mediaqueries for 1024px

@media only screen 
and (min-device-width : 1000px) 
and (max-device-width : 1024px) {
// CREWS 
  .col-md-3 {
    .btn {
    width: 60%;
    }
  }

  .clists {
    width: 77%; 

  }

  .nav-justified .nav-tabs.nav-justified li {
    width: 77%;
  }


  .nav {
    font-size: 0.9em;
   .forw li and{
    width: 77%; 
    
   }
  }

  .tab-content-inner {
    width: 77%;
    padding-right: 10px;

  }

 .d {
    margin-top: -4%;
    margin-left: 45%;
  }

  .details_crew {
    .col-md-4 {
      margin-left: -26px;
      width: 23%;
      h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.2em;
    }
    }
  }

  .info {
    .col-md-12 {
      width: 75.3%;
    }
  }

  .details_ {
    .col-md-12 {
    width: 77%;
  }
  }

  .details {
    width: 77%;

  }

 
 .nav-tabs {
  width: 76.2%!important;
 
  li a {
     padding: 5px;
  }
 }
  
 .c {
   width:110%;
   font-size: 0.9em;
 }

 .e {
  height: 40px;
 }

 .search_tools {
  width: 61%;
  margin-left: -10%;
}

//VESSELS
  .search_vessel {
    width: 75%;
    margin-left: 1%;
  }
  .vessel_table {
    width: 77%;
  }


  .tlists {
    width: 78%;
    margin-left: -10px;
  }

  .vshow {
    width: 77%;
  }

  .vessel_show {
       .nav-justified .nav-tabs.nav-justified li {
      width: 77%;
    }
  }
// PRINCIPALS

  .principallist {
     width: 77%;
  }

  .search_principal{
    width: 75%;
    margin-left: 1%;
  }
//TRANSMITTAL RECORDS
  .search_trans{
    width: 56%;
    margin-left: -4%;
  }
  .new_transmittal {
    .col-md-3 {
      width: 25%;
      margin-left: -10px;
    }
    .btn {
      width: 83%;
    }
  }

  .btns {
    .btn {
    font-size: 0.6em;
    margin: 0;
    margin-left: -2px;
    padding: 0;
  }
  }

  .trans {
    .col-md-9 {
      h1 {
    font-size: 1.9em;
  }

  }
   .col-md-3 {
    margin-top: -15px;

    }
}

  .wells {
    width: 77%;
    .form-actions {
      margin-top: 10px;
    }
  }

  .vessell {
    width: 79%;
  }

  .basicBox {
    width: 77%;
  }
}

// Mediaqueries for 980 

@media only screen 
and (min-device-width : 975px) 
and (max-device-width : 980px) {

  .new_member {
    .btn {
      width: 10%;
      font-size: 1em;
    }
  }

  .search_tools {
    margin-top: -5%;
    margin-left: 10.57%;
    font-size: 0.9em;
    width: 63%; 
    .sfield {
      width: 40%;
    }

    .sbyvessel {
      width: 18%;
      margin-left: 40%;
      margin-top: -4.2%;
    }

    .sbyrank {
      width: 18%;
      margin-left: 57%;
      margin-top: -4.4%;
    }

    .sbtn {
      width: 25%;
      margin-left: 76%;
      margin-top: -4.3%;
    }
  }

  .search_vessel {
    margin-top:-1%;
    margin-left: 1%;
    font-size: 0.9em;
    width: 70%; 
    .sfield {
      width: 40%;
    }

    .sbyvessel {
      width: 18%;
      margin-left: 40%;
      margin-top: -4.2%;
    }

    .sbyrank {
      width: 18%;
      margin-left: 57%;
      margin-top: -4.4%;
    }

    .sbtn {
      width: 25%;
      margin-left: 76%;
      margin-top: -4.3%;
    }
  }

  .clists {
    width: 74%;
  }

  .nav-tabs {
  width: 73.5%!important;
  
  li a {
     padding: 5px;
     border-bottom: 0px!important;
  }
 }

 .e {
  width: 30%;
 }

 .d {
  margin-top: -5%;
  margin-left: 33.5%;
  font-size: 0.9em;
 }

 .addcrewell {
  width: 60%;
  margin-top: -17%;
  margin-left: 13%;
  margin-bottom: 10%;
  .crank {
    width: 30%;
  }

  .cvessel {
    width: 30%;
    margin-left: 30%;
    margin-top: -10.1%;
  }

  .csignon {
    width: 30%;
    margin-left: 60%;
    margin-top: -10.1%;
  }
 


}

.tab-content .tab-content-inner {
  width: 100%;


}

 .crew_form {
  width: 75%;
 }


 .cform {
  width: 72.5%;
 }
  
.details_crew {
  .col-md-4 {
    margin-left: 20%;
    margin-top: -10%;
    margin-bottom: 5%;
    width: 26%;
    h2 {
    font-size: 1.5em;
     }

    h3 {
      font-size: 1.2em;
    }
    }

  .cdl {
   width: 26%;
   margin-left: 45%;
   margin-top: -15%;
  }
  }

   .info {
    .col-md-12 {
      width: 73%;
    }
  }

  .details {
    width: 74.5%;
  }

  .vessell {
    width: 75%;
  }

  .vessel_show {
     .nav-justified .nav-tabs.nav-justified li {
    width: 77%;
  }

  .tab-content-inner {
    width: 75%;
    font-size: 0.9em;
  }
  }



}