.navbar-default {
  background-color: #e2e2e2;
  
}


.name {
  display: inline;
  float: left;
  padding-right: 10px;

  
}

.input-size {
  width: 350px;
}

.input-size_add {
  width: 350px;
} 

.input-size_age {
  width: 200px;
} 


.crew_form {
  padding-left: 40px;
}

