.navbar-default {
  background-color: #e2e2e2;
  
}

.name {
  display: inline;
  float: left;
  padding-right: 10px;
}

.input-size {
  width: 365px;
}

.input-size_add {
  width: 365px;
} 

.input-size_age {
  width: 210px;
} 


.crew_form {
  padding-left: 40px;
}


