.basicBoxDash {
  background-color: #e67e22;
  color: white;
  padding: 10px;

  .icon-support {
    font-size: 100px; 
    padding-left: 20px;
  }

 .glyphicon-user {
    font-size: 100px; 
    padding-bottom: 30px;
    padding-top: 11px;
 }
}

.pdf {
  img {
    width: 4vw;
  }
  h5 {
    font-weight: bold;
  }
}

.pdf_mobile {
  img {
    width: 10vw;
  }
  h5 {
    font-weight: bold;
  }
}

