.name {
  display: inline;
  float: left;
}

.input-size_login {
  width: 365px;
  padding-bottom: 10px;
}

.plain-padding {
  padding: 20px;
}

.sign_in {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  margin-left: 330px;
  margin-top: 50px;
  -webkit-box-shadow: -10px 48px 18p
  x -34px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 48px 18px -34px rgba(0,0,0,0.75);
  box-shadow: -10px 48px 18px -34px rgba(0,0,0,0.75);
  background-color: silver;
  padding-left: 40px;
  padding-top: 40px;
  height: 300px;
  color: black;
  border-radius: 0px;
}

.button {
  width: 365px
}

.baliwag_logo {
  img {
    margin-left: 333px;
    width: 400px;
  }
}

.form-button {
  background-color: green;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.box-image {
  

  img {
    height: 150px;
    width: 163px;
    border: 1px solid black;
  }

}

.name-crew {
  padding-top: 70px;
  text-align: left;

  h2 { 
    margin-top: 5px;
  }

  h4 {
     margin-top: 5px;
  }
}

.form-number {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 15px;
  font-weight: bolder;
}

.details {
  font-size: 20px;
  border: 1px solid #e2e2e2;
  padding: 10px;

  h2 {
    color: black;
    padding-left: 10px;
    font-size: 25px;

  }
}

.nearest-rel {
  
  font-size: 15px;

}


.label-a {
  background-color: #78AB46;
  color: white;
  width: 20%;
  font-size: 15px;
  font-weight: bold;

}

 .b {
    font-weight: bold;
    font-size: 15px;

   }
.label-b {
   background-color: white;
   color: black;
   font-size: 15px;
   width: 283px;

}

.label-c {
   background-color: #78AB46;
   color: white;
   font-weight: normal;
   text-align: center;
   font-size: 15px;

}

.label-d {
   background-color: #78AB46;
   color: white;
   font-weight: normal;
   text-align: center;
  font-size: 15px;
}

.label-d-a {
  font-size: 15px;

}


.nav-tabs li{
          display: block;
          font-weight: normal;
          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          font-weight: bold;
          display:block;
          color:white;
          text-decoration:none;
          font-weight:bold;
          background: green;
          margin:0;
          padding: 0px;
          border-left:1px solid #fff;
          border-top:1px solid #fff;
          border-right:1px solid #aaa;
          border-radius: 0px;
          a {
            color: white;
            border-radius: 0px;
          }
     .active {

        li {
            background-color: white;
            display: block;
            font-weight: normal;
            background: rgba(255,255,255,0.2);
            cursor: pointer;
            position: relative;
            font-weight: bold;
            display:block;
            text-decoration:none;
            font-weight:bold;
            border-radius: 0px;

            a {
           border-radius: 0px;
           }
          }
          }

          a:hover {
            background: white;
            color: black;
             border-radius: 0px;
          }

}

// BALIWAG NAVIGATION CSS -------------------

.unknown_img {
  img {
  width: 150px;

  }
}

.baliwag_nav_title {
  text-align: center;

}


// BALIWAG DETAILS VESSEL



.label_details {
  font-weight: bold;
  color: green;
}

.label-e {
  background-color: #78AB46;
  color: white;
  font-weight: bold;
  width: 100px;
}

.label-f {
width: 283px;

}

.label-g {
  width: 150px;
  font-weight: bold;
}

.label_title {
  font-weight: bold;
}

.table td {
padding: 3px!important;
padding-left: 5px!important;
}


.tdash tr:nth-child(even) {
    background: #CFDBC5;
  }

.tdash tr:nth-child(odd) {
    background: #e2e2e2;
}

.tdash th{
  padding: 10px;
}

.table .ttd {
  padding-left: 40px!important;
}
.table .ttd1 {
  padding-left: 130px!important;
  padding-top: 5px;
  padding-bottom: 5px;
}






