
.name {
  display: inline;
  float: left;
  padding-right: 10px;
  
}

.input-size {
  width: 365px;
 
}

.input-size_add {
  width: 365px;
 
} 

.input-size_age {
  width: 210px;

} 

.input-size_login {
  width: 365px;
  padding-bottom: 10px;
}


.crew_form {
  padding-left: 40px;
}

.sign_in {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  margin-left: 330px;
  margin-top: 50px;
  -webkit-box-shadow: -10px 48px 18p
  x -34px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 48px 18px -34px rgba(0,0,0,0.75);
  box-shadow: -10px 48px 18px -34px rgba(0,0,0,0.75);
  background-color: silver;
  padding-left: 40px;
  padding-top: 40px;
  height: 300px;
  color: black;
  border-radius: 0px;
}

.button {
  width: 365px
}

.baliwag_logo {
  img {
    margin-left: 333px;
    width: 400px;
  }
}

.form-button {
  margin-left: 27px;
  background-color: green;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.form-file {
  margin-left: 27px;
  
 
}
