.trans_table {

  table{
    width: 100%;
  }

  table, .table, table td {
    border-collapse: collapse;
    border: 1px solid #000;
  }

  th {
    border-collapse: collapse;
    border: 1px solid #000;
  }

}


.trans_table td, .trans_table th{
  border: 1px solid black;
  padding: 0px 5px;
  font-size: 13px;
}

.lefts {
  text-align: left;
}
