@import "colors";
#vessels {
  .vessel {
    .vesselImage {
    }
    .vesselInfo {
      margin-left: 10px;
    }

    table {
      font-size: 0.8em;
      th {
        text-align: right;
        width: 25%;
        color: $black;
        background-color: $white;
      }
    }
  }
}
