<div class="basicBoxHeader">
  Crew Manifest Report Generator
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "reports/crew_manifest_form" %>
  </div>
</div>

<% if @crews.nil? %>
  Please fill in vessel and license type details
<% else %>
  <%= render partial: "reports/crew_manifest_list", locals: { crews: @crews, license_types: @license_types, certificate_types: @certificate_types, document_kinds: @document_kinds } %>
  <%= render partial: "reports/crew_manifest_report_download" %>
<% end %>
