<div class="panel panel-default">
  <div class="panel-heading">
    <b>Crew Manifest Report Generator</b>
  </div>

<div class="panel-body">
    <%= render partial: "reports/crew_manifest_form" %>


<% if @crews.nil? %>
  Please fill in vessel and licenses/certificates/documents
<% else %>
  <%= render partial: "reports/crew_manifest_list", locals: { crews: @crews, license_types: @license_types, certificate_types: @certificate_types, document_kinds: @document_kinds } %>
  <%= render partial: "reports/crew_manifest_report_download" %>
<% end %>
</div>
</div>