<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "transmittal" %>
  </head>
  <body style="">
    <center class="reportHeader">
      <div style="font-weight: bold;">
        BALIWAG NAVIGATION, INC.  
      </div>
      <div style="font-size: 10px;">
       Manila, Philippines
      </div>
     
      <div class="reportTitle" style="font-weight: bold; margin-top: 2%;">
       TRANSMITTAL FORM OF FINAL LINE-UP
      </div>
    </center>

    <div class="">
      TO: BALIWAG TOURS AND TRAVEL/ACCOUNTING DEPARTMENT <br />
      CC: CREWING DEPARTMENT <br />
      RE: LIST OF NAMES AND PARTICULARS OF SEAFARERS SCHEDULED TO EMBARK/DISEMBARK
    </div>
   

  </body>
</html>
