<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "transmittal" %>
  </head>
  <body style="">
    <center class="reportHeader">
      <div style="font-weight: bold;">
        BALIWAG NAVIGATION, INC.  
      </div>
      <div style="font-size: 10px;">
       Manila, Philippines
      </div>
     
      <div class="reportTitle" style="font-weight: bold; margin-top: 2%;">
       TRANSMITTAL FORM OF FINAL LINE-UP
      </div>
    </center>

    <div style="margin-top: 1%; font-size: 13px;">
      TO: BALIWAG TOURS AND TRAVEL/ACCOUNTING DEPARTMENT <br />
      CC: CREWING DEPARTMENT <br />
      RE: LIST OF NAMES AND PARTICULARS OF SEAFARERS SCHEDULED TO EMBARK/DISEMBARK
    </div>

    <div style="margin-top: 1%; font-size: 13px;">
      <table style="width: 100%;">
        <tr style="text-align: left;">  
          <th>Destination: China</th>
          <th>Date of Departure:  M/V MEDI YOKOHAMA</th>
          <th>Assigned Vessel: TO BE ADVISED</th>
          
        </tr>
       
      
      </table>
      
    </div>
     <table class="trans_table" style="font-size: 13px;">
      <tr>
        <th colspan="2"> </th>
        <th colspan="6">Embarking</th>
        <th colspan="4">Disembarking</th>
      </tr>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Rank</th>
        <th>SCBD/SIRB NO.</th>
        <th>EXPIRY DATE</th>
        <th>PASSPORT NO.</th>
        <th>EXPIRY DATE</th>
        <th>BIRTH DATE</th>
        <th>NAME</th>
        <th>RANK</th>
        <th>DATE EMBARKED</th>
      </tr>

      <tr>
       <td>1</td>
       <td>Raphael Alampay</td>
       <td></td>
      </tr>
    </table>

     <table style="margin-top: 2%; font-size: 13px; width: 100%; ">
        <tr style="text-align: left;">
        <th>Preapred By:</th>
        <th style="padding-left: 20%;">Certified Correct By:</th>
        <th style="padding-right: 10%;">Noted By:</th>
        </tr>

     </table>

    <table style="margin-top: 2%; font-size: 13px; width: 100%; ">
      <tr>
        <th>ALEJANDRA A. QUENTERO</th>
        <th>ALEJANDRA A. QUENTERO</th>
        <th>ALEJANDRA A. QUENTERO</th>
      </tr>

      <tr>
       <th>Position: CEO</th>
       <th>Position: CEO</th>
       <th>Position: CEO</th>
      </tr>

    </table>

   

  </body>
</html>
